<div class="large-12 small-12" ng-controller="MainCtrl as main">

    <top-bar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Urban Earth</a></h1>
            </li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
        </ul>

        <top-bar-section>
            <!-- Right Nav Section -->
            <ul class="right">
                <li has-dropdown>
                    <a href="#">Wholesale</a>
                    <ul top-bar-dropdown>
                        <li><a href="#/wholesale">Log in</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li><a href="#/teas">Teas</a></li>
                <li><a href="#/about">About</a></li>
                <li><a href="#/specials">Specials</a></li>
                <li><a href="#/programs">Programs</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </top-bar-section>
    </top-bar>
    <div ui-view></div>

</div>
